<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">TopicFilter</lang>
	</name>
	<author>
		<lang name="default">tih, andrey, benone</lang>
	</author>
	<homepage></homepage>
	<version>0</version>
	<requires>
		<livestreet>1</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="default">Filter blogs by topic type</lang>
		<lang name="russian">Фильтрует записи в блоге по типу</lang>
	</description>
	<delegate>
		<module></module>
		<action></action>
		<template></template>
		<entity></entity>
	</delegate>
</plugin>
